<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">


        <script src="/static/js/three.js"></script>
        <script src="/static/js/OBJLoader.js"></script>
        <script src="/static/js/Sky.js"></script>
        <script src="/static/js/FirstPersonControls.js"></script>
        <script src="/static/js/Detector.js"></script>
        <script src="/static/js/stats.js"></script>

        <script src="/static/js/dat.gui.js"></script>
        
        <script src="/static/js/engine/environment.js"></script>

	</head>

	<body>


		<script>

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			var MARGIN = 0;
			var SCREEN_HEIGHT = window.innerHeight - MARGIN * 2;
			var SCREEN_WIDTH  = window.innerWidth;

			var camera, controls, scene, renderer, stats;
            var dl_sun;
            var angle= 0;

            var clock = new THREE.Clock();
            var textureLoader = new THREE.TextureLoader();
            var objLoader = new THREE.OBJLoader();

            var material = new THREE.MeshStandardMaterial( { color: 0xff0000 } );
            var groundMaterial = new THREE.MeshStandardMaterial( { color: 0xffff00 } );

            renderer = new THREE.WebGLRenderer( { antialias: true } );
            renderer.shadowMap.enabled = true;
            renderer.shadowMap.type = THREE.PCFShadowMap;
            
			init();
            animate();
            
			function init() {
				camera = new THREE.PerspectiveCamera( 25, SCREEN_WIDTH / SCREEN_HEIGHT, 50, 1e7 );
                cameraStart(camera)

				scene = new THREE.Scene();
				scene.fog = new THREE.FogExp2( 0x000000, 0.00000025 );

				dl_sun = new THREE.DirectionalLight(0xDDDDDD, .8);
                dl_sun.position.set(500, 1000, 0 );
                dl_sun.target = scene;
                dl_sun.castShadow = true;
                dl_sun.physicallyCorrectLights = true;

                //Set up shadow properties for the light
                dl_sun.shadow.mapSize.width = 512;  // default
                dl_sun.shadow.mapSize.height = 512; // default
                dl_sun.shadow.camera.near = 0.5;    // default
                dl_sun.shadow.camera.far = 700000;     // default

                dl_sun.shadow.camera.left = -1000;
                dl_sun.shadow.camera.right = 1000;
                dl_sun.shadow.camera.top = 1000;
                dl_sun.shadow.camera.bottom = -1000;
                
                var dl_sun_helper = new THREE.DirectionalLightHelper( dl_sun, 1000 );
                scene.add( dl_sun_helper );
                scene.add( dl_sun );

                dl_sun_shadowbox_helper = new THREE.CameraHelper( dl_sun.shadow.camera );
                scene.add( dl_sun_shadowbox_helper );
                
                var ambLight = new THREE.AmbientLight( 0x404040 ); // soft white light
                scene.add( ambLight );
                
                
                initSky(scene, camera, renderer);
                
                

                var landmass = objLoader.load('static/mesh/landmass.obj', function (object) {
                        var g_landmass = new THREE.Group();
                        for (i=0; i < object.children.length; i++) {
                            var box_mesh = object.children[i];
                            box_mesh.receiveShadow = true;
                            // box_mesh.material = groundMaterial;
                            
                            g_landmass.add(box_mesh);
                            
                        };
                        scene.add( g_landmass );
                        
                    }
                );

                var nyc_parks = objLoader.load('static/mesh/nyc_parks.obj', function ( object ) {
                        scene.add( object );
                    },
                    // called when loading is in progresses
                    function ( xhr ) {
                        console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
                    },
                    // called when loading has errors
                    function ( error ) {
                        console.log( 'An error happened' );
                    }
                );

                var hy_ery = objLoader.load('static/mesh/hy_ery.obj', function ( object ) {
                    var g_hy_ery = new THREE.Group();
                    for (i=0; i<object.children.length; i++) {
                        var childMesh = object.children[i];
                        childMesh.receiveShadow = true;
                        childMesh.castShadow = true;

                        g_hy_ery.add(childMesh)
                    };
                        scene.add( g_hy_ery );
                    },
                    // called when loading is in progresses
                    function ( xhr ) {
                        console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
                    },
                    // called when loading has errors
                    function ( error ) {
                        console.log( 'An error happened' );
                    }
                );

                var hy_hy = objLoader.load('static/mesh/hy_hy.obj', function ( object ) {
                    var g_hy_hy = new THREE.Group();
                    for (i=0; i<object.children.length; i++) {
                        var childMesh = object.children[i];
                        childMesh.receiveShadow = true;
                        childMesh.castShadow = true;

                        g_hy_hy.add(childMesh);
                    };
                        scene.add( g_hy_hy );
                    },
                    // called when loading is in progresses
                    function ( xhr ) {
                        console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
                    }
                );

                var nyc_blocks = objLoader.load('static/mesh/nyc_blocks.obj', function ( object ) {
                        var g_blocks = new THREE.Group();
                        for (i=0; i < object.children.length; i++) {
                            var obj = object.children[i];
                            obj.castShadow = true;
                            obj.receiveShadow = true;
                            // obj.material = material;

                            g_blocks.add(obj);
                        };
                        scene.add( g_blocks );
                    },
                    // called when loading is in progresses
                    function ( xhr ) {
                        console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
                    }
                );

                var nyc_named = objLoader.load('static/mesh/nyc_named.obj', function ( object ) {
                    var g_nyc_named = new THREE.Group();
                    for (i=0; i< object.children.length; i++) {
                        var childMesh = object.children[i];
                            childMesh.castShadow = true;
                            childMesh.receiveShadow = true;
                            // obj.material = material;

                            g_nyc_named.add(childMesh);
                    };
                        scene.add( g_nyc_named );
                    },
                    // called when loading is in progresses
                    function ( xhr ) {
                        console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
                    }
                );

                var helper = new THREE.GridHelper( 10000, 2, 0xffffff, 0xffffff );
				scene.add( helper );

				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
				document.body.appendChild( renderer.domElement );

				controls = new THREE.FirstPersonControls(camera, renderer.domElement);

                controls.lookSpeed = .3;
                controls.movementSpeed = 300;
                controls.noFly = false;


				stats = new Stats();
				document.body.appendChild( stats.dom );

				window.addEventListener( 'resize', onWindowResize, false );
			}


			function onWindowResize( event ) {
				SCREEN_HEIGHT = window.innerHeight;
				SCREEN_WIDTH  = window.innerWidth;

				renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );

				camera.aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
				camera.updateProjectionMatrix();
			}


			function animate() {
                requestAnimationFrame( animate );
                // angle-=0.1;
  
                //dl_sun.position.x =10+10*Math.sin(angle);
                //dl_sun.position.y =10+10*Math.cos(angle);
                dl_sun.position.set(sunSphere.position.x, sunSphere.position.y, sunSphere.position.z)


				render();
				stats.update();
			}


			function render() {
				var delta = clock.getDelta();
				controls.update( delta );
                renderer.render(scene, camera);
            }
            
            
            function cameraStart(mainCamera) {
                mainCamera.position.z = 0;
                mainCamera.position.x = 0;
                mainCamera.position.y = 200;
            }

		</script>
	</body>
</html>