<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">


        <script src="/static/js/three.js"></script>
        <script src="/static/js/OBJLoader.js"></script>
        <script src="/static/js/Sky.js"></script>
        <script src="/static/js/FirstPersonControls.js"></script>

        <script src="/static/js/RGBELoader.js"></script>
		<script src="/static/js/HDRCubeTextureLoader.js"></script>


        <script src="/static/js/Detector.js"></script>
        <script src="/static/js/stats.js"></script>

        <script src="/static/js/PMREMGenerator.js"></script>
		<script src="/static/js/PMREMCubeUVPacker.js"></script>

        <script src="/static/js/dat.gui.js"></script>
        
        <script src="/static/js/engine/environment.js"></script>
        <script src="/static/js/engine/utils.js"></script>

	</head>

	<body>


		<script>

            if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
            var params = {
				envMap: 'HDR',
				roughness: 0.0,
				metalness: 0.0,
				exposure: 1.0
			};

			var MARGIN = 0;
			var SCREEN_HEIGHT = window.innerHeight - MARGIN * 2;
            var SCREEN_WIDTH  = window.innerWidth;
            var WORLD_ROOT = 80.0;

			var camera, controls, scene, renderer, stats;
            var dl_sun;

            var m_hy, floorMaterial;
			var ldrCubeRenderTarget, hdrCubeRenderTarget, rgbmCubeRenderTarget;

            var angle= 0;

            var clock = new THREE.Clock();
            var textureLoader = new THREE.TextureLoader();

            var groundMaterial = new THREE.MeshStandardMaterial( { color: 0xffff00 } );

            renderer = new THREE.WebGLRenderer( { antialias: true } );
            renderer.shadowMap.enabled = true;
            renderer.shadowMap.type = THREE.PCFSoftShadowMap;
            renderer.toneMapping = THREE.LinearToneMapping;
            
			init();
            animate();
            
			function init() {
				camera = new THREE.PerspectiveCamera( 25, SCREEN_WIDTH / SCREEN_HEIGHT, 50, 1e7 );
                cameraStart(camera)

				scene = new THREE.Scene();
                scene.fog = new THREE.FogExp2( 0xF2F5F8, 0.0005 );
                scene.fog.density = 0.00002;

				dl_sun = new THREE.DirectionalLight(0xffffff, 1);
                dl_sun.target = scene;
                dl_sun.castShadow = true;

                //Set up shadow properties for the light
                dl_sun.shadow.mapSize.width = 2048;  // default
                dl_sun.shadow.mapSize.height = 2048; // default
                dl_sun.shadow.camera.near = 100;    // default
                dl_sun.shadow.camera.far = 500000;     // default

                dl_sun.shadow.camera.left = -1000;
                dl_sun.shadow.camera.right = 1000;
                dl_sun.shadow.camera.top = 1000;
                dl_sun.shadow.camera.bottom = -1000;

                var dl_sun_helper = new THREE.DirectionalLightHelper( dl_sun, 1000 );
                scene.add( dl_sun_helper );
                scene.add( dl_sun );

                dl_sun_shadowbox_helper = new THREE.CameraHelper( dl_sun.shadow.camera );
                scene.add( dl_sun_shadowbox_helper );

                var hemi = new THREE.HemisphereLight( 0x66ccff, 0xe6e6e6, .1 );
                scene.add( hemi );
                
                // Init scene geometry
                initSky(scene, camera, renderer);

                var m_hy = new THREE.MeshStandardMaterial({
                    color: 0x6AD4EB,
                    roughness: .8,
                    metalness: .2
                });

                var m_gray = new THREE.MeshStandardMaterial({
                    color: 0xE2E2E2,
                    roughness: 1,
                    metalness: 0
                });

                var hy_ery = objsLoader("hy_ery.obj", m_hy, scene, WORLD_ROOT);
                var hy_hy = objsLoader("hy_hy.obj", m_hy, scene, WORLD_ROOT);
                var landmass = objsLoader("landmass.obj", m_gray, scene, WORLD_ROOT, castshadow=false);
                var nyc_parks = objsLoader("nyc_parks.obj", m_gray, scene, WORLD_ROOT);
                var nyc_blocks = objsLoader("nyc_blocks.obj", m_gray, scene, WORLD_ROOT);
                var nyc_named = objsLoader("nyc_named.obj", m_gray, scene, WORLD_ROOT);

                // ground
                var surface = new THREE.PlaneBufferGeometry( 700000, 700000, 16 );
                var m_surface = new THREE.MeshLambertMaterial( {color: 0xffffff, side: THREE.DoubleSide} );
                var mesh_surface = new THREE.Mesh( surface, m_surface );
                mesh_surface.rotation.x = Math.PI / 2;
                mesh_surface.position.y = -500;
                scene.add( mesh_surface );

                var genCubeUrls = function( prefix, postfix ) {
					return [
						prefix + 'px' + postfix, prefix + 'nx' + postfix,
						prefix + 'py' + postfix, prefix + 'ny' + postfix,
						prefix + 'pz' + postfix, prefix + 'nz' + postfix
					];
                };
                
                var hdrUrls = genCubeUrls( 'static/textures/', '.hdr' );
				var envText = new THREE.HDRCubeTextureLoader().load( THREE.UnsignedByteType, hdrUrls, function ( hdrCubeMap ) {
					var pmremGenerator = new THREE.PMREMGenerator( hdrCubeMap );
					pmremGenerator.update( renderer );
					var pmremCubeUVPacker = new THREE.PMREMCubeUVPacker( pmremGenerator.cubeLods );
					pmremCubeUVPacker.update( renderer );
					hdrCubeRenderTarget = pmremCubeUVPacker.CubeUVRenderTarget;
					hdrCubeMap.dispose();
					pmremGenerator.dispose();
					pmremCubeUVPacker.dispose();
                } );
                
                m_hy.envMap = envText;
                
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
				document.body.appendChild( renderer.domElement );

				controls = new THREE.FirstPersonControls(camera, renderer.domElement);

                controls.lookSpeed = .3;
                controls.movementSpeed = 300;
                controls.noFly = false;

				stats = new Stats();
                document.body.appendChild( stats.dom );
                
                //renderer.toneMapping = THREE.ReinhardToneMapping;
				renderer.gammaInput = true; // ???
				renderer.gammaOutput = true;

				window.addEventListener( 'resize', onWindowResize, false );
			}


			function onWindowResize( event ) {
				SCREEN_HEIGHT = window.innerHeight;
				SCREEN_WIDTH  = window.innerWidth;

				renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );

				camera.aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
				camera.updateProjectionMatrix();
			}


			function animate() {
                requestAnimationFrame( animate );
                // angle-=0.1;
  
                //dl_sun.position.x =10+10*Math.sin(angle);
                //dl_sun.position.y =10+10*Math.cos(angle);
                dl_sun.position.set(sunSphere.position.x, sunSphere.position.y, sunSphere.position.z)


				render();
				stats.update();
			}


			function render() {
                


                var delta = clock.getDelta();


                renderer.toneMappingExposure = params.exposure;


				controls.update( delta );
                renderer.render(scene, camera);
            }
            
            
            function cameraStart(mainCamera) {
                mainCamera.position.z = 1800;
                mainCamera.position.x = 400;
                mainCamera.position.y = 400;
            }

		</script>
	</body>
</html>