
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Three.js Demo</title>
<script src="static/js/three.js"></script>
<script src="static/js/OrbitControls.js"></script>
<script src="/static/js/OBJLoader.js"></script>

</head>
<body>
<script>

const MOVE_UP = 1;
const MOVE_DOWN = 0;

// Scene properties
var scene_color = 0x000000;
var scene_color_alpha = 1;

// Camera Properties
var camera_angle = 0;
var camera_range = -12;
var camera_speed = 0.05 * Math.PI/180;
var camera_target = new THREE.Vector3(0, 0, -5);
var camera_focal = 70;
var camera_near = 0.1;
var camera_far = 50;

// Lights
var light_am_color = 0xAAAAAA;
var light_spot_color = 0xDDDDDD;
var light_spot_intensity = 0.7;
var light_spot_position = {x: 5, y: 5, z: 20}
var light_spot_camera_near = 0.5;
var light_spot_shadow_darkness = 0.35;

// Plane Properties
var plane_width = 10;
var plane_height = 10;
var plane_width_segs = 1;
var plane_height_segs = 1;
var plane_color = 0xDDDDDD;
var plane_position = {x: 0, y: 0, z: -5};


// New renderer
var renderer = new THREE.WebGLRenderer({antialias: true});
renderer.shadowMap.enabled = true;
renderer.shadowMap.type = THREE.PCFSoftShadowMap;
renderer.setSize(window.innerWidth, window.innerHeight);
renderer.setClearColor(scene_color, scene_color_alpha);

// Add the renderer to the DOM
document.body.appendChild(renderer.domElement);

// Create the scene
var scene = new THREE.Scene();

// Set some camera defaults
var camera = new THREE.PerspectiveCamera(camera_focal, window.innerWidth/window.innerHeight, camera_near, camera_far);
camera.position.set(0, camera_range, 0);
camera.lookAt(camera_target);

// Add abbient light
var am_light = new THREE.AmbientLight(light_am_color); // soft white light
scene.add(am_light);

// Add directional light
var spot_light = new THREE.DirectionalLight(light_spot_color, light_spot_intensity);
spot_light.position.set(light_spot_position.x, light_spot_position.y, light_spot_position.z);
spot_light.target = scene;
spot_light.castShadow = true;	
scene.add(spot_light);


// Add the ground plane
var plane_geometry = new THREE.PlaneGeometry(plane_width, plane_height, plane_width_segs, plane_height_segs);
var plane_material = new THREE.MeshLambertMaterial({color: plane_color});
var plane_mesh = new THREE.Mesh(plane_geometry, plane_material);
plane_mesh.position.set(plane_position.x, plane_position.y, plane_position.z);
plane_mesh.receiveShadow = true;
scene.add(plane_mesh);


var loader = new THREE.OBJLoader();

var landmass = loader.load('static/mesh/landmass.obj', function (object) {
		console.log(object);
		var g_landmass = new THREE.Group();
		for (i=0; i < object.children.length; i++) {
			var box_mesh = object.children[i];
			box_mesh.castShadow = true;
			box_mesh.receiveShadow = true;
			
			g_landmass.add(box_mesh);
			
		};
		g_landmass.scale.set(0.0001,0.0001,0.0001);
		g_landmass.rotation.set(90, 0, 0);
		g_landmass.position.set(0, 1, 0);
		scene.add( g_landmass );
		
	}
);


// Render loop
var render = function () {
  camera.up.set(0, 0, 1);
  camera.lookAt(camera_target);
  
  requestAnimationFrame(render);
  
  renderer.render(scene, camera);
};

render();


</script>

</body>
</html>
