<script type="text/javascript">
// data from backend
var mapCameras = {{ scene_cameras |safe }};

// dom elements
var blocker = document.getElementById('blocker');
var instructions = document.getElementById('instructions');
var rendererTarget = document.getElementById('webgltarget');
rendererTarget.width=window.innerWidth;

// data from backend
var mapCameras = {{ scene_cameras |safe }};

function cameraSelect(cameraName) {
	cameras = mapCameras["cameras"]
	if (cameraName in cameras) {
		cameraData = cameras[cameraName];

		controls = new THREE.PointerLockControls(camera);
		controls.getObject().position.set(cameraData['pos'][0], cameraData['pos'][1], cameraData['pos'][2]);
		controls.getObject().rotation.y = cameraData["rot"][1]; // Rotates Yaw Object
		controls.getObject().children[0].rotation.x = cameraData["rot"][0]; // Rotates the Pitch Object
		scene.add(controls.getObject());

		return camera;

	} else {
		console.log("no such camera");
	}
};

function saveNewCamera() {
	pos = camera.getWorldPosition(new THREE.Vector3());
	rot = controls.getObject().rotation;
	data = {
		'pos': [pos.x, pos.y, pos.z],
		'rot': [rot.x, rot.y, rot.z]
	};
	console.log(data);

	return data;
};

function interactiveControlSun() {
	var elem = document.getElementById('env-ui');
	
	if (window.getComputedStyle(elem).display === 'block') {
		elem.style.display = 'none';
		return;
	} else {
		elem.style.display = 'block';
		return;
	}
};


</script>

<script type="text/javascript">
	var envSun, water, sphere;
	var WORLD_ROOT = 80.0;

	var controlsEnabled = false;
	var moveForward = false;
	var moveBackward = false;
	var moveLeft = false;
	var moveRight = false;
	var moveUp = false;
	var moveDown = false;
	var canJump = false;

	var clock = new THREE.Clock();
	var prevTime = performance.now();
	var velocity = new THREE.Vector3();
	var direction = new THREE.Vector3();


	// Cursor Locking
	var havePointerLock = 'pointerLockElement' in document || 'mozPointerLockElement' in document || 'webkitPointerLockElement' in document;
	if (havePointerLock) {
		var element = document.body;
		var pointerlockchange = function (event) {
			if (document.pointerLockElement === element || document.mozPointerLockElement === element || document.webkitPointerLockElement === element) {
				controlsEnabled = true;
				controls.enabled = true;
				blocker.style.display = 'none';
			} else {
				controls.enabled = false;
				blocker.style.display = 'block';
				instructions.style.display = '';
			}
		};

		var pointerlockerror = function (event) {
			instructions.style.display = '';
		};

		// Hook pointer lock state change events
		document.addEventListener('pointerlockchange', pointerlockchange, false);
		document.addEventListener('mozpointerlockchange', pointerlockchange, false);
		document.addEventListener('webkitpointerlockchange', pointerlockchange, false);
		document.addEventListener('pointerlockerror', pointerlockerror, false);
		document.addEventListener('mozpointerlockerror', pointerlockerror, false);
		document.addEventListener('webkitpointerlockerror', pointerlockerror, false);

		instructions.addEventListener('click', function (event) {
			instructions.style.display = 'none';
			// Ask the browser to lock the pointer
			element.requestPointerLock = element.requestPointerLock || element.mozRequestPointerLock || element.webkitRequestPointerLock;
			element.requestPointerLock();
		}, false);

	} else {
		instructions.innerHTML = 'Your browser doesn\'t seem to support Pointer Lock API';
	}

	init();
	animate();

	function testy(camera) {
		// logging of camera pos, rot
		console.log(camera.rotation);
	};

	function init() {
		// default Environment
		renderer = buildDefaultRenderer(document, rendererTarget, rendererParams)
		keyBindings(document)

		scene = buildDefaultScene(sceneParams);
		sky = buildDefaultSky(scene, sunPosParams)
		envSun = buildSun(scene, sunParams);
		var waterGeometry = buildDefaultWater(scene, envSun, waterParams);

		updateSun(scene, renderer, CUBECAMERA, envSun, sky, water, sunPosParams);

		// cameras
		camera = new THREE.PerspectiveCamera(mapCameras.cameras.default.fov, rendererTarget.offsetWidth / rendererTarget.offsetHeight, 1, 20000);
		
		controls = new THREE.PointerLockControls(camera, mapCameras.cameras.default);
		controls.getObject().position.set(mapCameras.cameras.default.pos[0], mapCameras.cameras.default.pos[1], mapCameras.cameras.default.pos[2]);
		controls.getObject().rotation.y = mapCameras.cameras.default.rot[1]; // Rotates Yaw Object
		controls.getObject().children[0].rotation.x = mapCameras.cameras.default.rot[0]; // Rotates the Pitch Object
		scene.add(controls.getObject());

		parseGeometryParams(defaultGeometry, m_context, scene, WORLD_ROOT, envmap=CUBECAMERA.renderTarget.texture);
		parseGeometryParams(heroGeometry, m_hy, scene, WORLD_ROOT, envmap=CUBECAMERA.renderTarget.texture);

		window.addEventListener( 'resize', onWindowResize, false );
	}

	function onWindowResize() {
		camera.aspect = window.innerWidth / rendererTarget.offsetHeight;
		camera.updateProjectionMatrix();
		renderer.setSize( window.innerWidth, rendererTarget.offsetHeight );
	}

	function animate() {
		requestAnimationFrame(animate);
		water.material.uniforms.time.value += 1.0 / 60.0;

		if (controlsEnabled === true) {
			var time = performance.now();
			var delta = (time - prevTime) / 1000;

			velocity.x -= velocity.x * 5.0 * delta;
			velocity.z -= velocity.z * 5.0 * delta;
			velocity.y -= velocity.y * 5.0 * delta;
			//velocity.y -= 9.8 * 1 * delta; // 100.0 = mass
			direction.z = Number(moveForward) - Number(moveBackward);
			direction.x = Number(moveLeft) - Number(moveRight);
			direction.y = Number(moveUp) - Number(moveDown);
			direction.normalize(); // this ensures consistent movements in all directions

			if (moveForward || moveBackward) velocity.z -= direction.z * 400.0 * delta;
			if (moveLeft || moveRight) velocity.x -= direction.x * 400.0 * delta;
			if (moveUp || moveDown) velocity.y -= direction.y * 400.0 * delta;

			controls.getObject().translateX(velocity.x * delta);
			controls.getObject().translateY(velocity.y * delta);
			controls.getObject().translateZ(velocity.z * delta);

			// console.log('-------------------------')
			// testy(controls.getObject());
			// console.log('-------------------------')

			prevTime = time;
		}

		renderer.render(scene, camera);
	}

</script>