{% load static %}

<script src="{% static 'drafter/js/threejs/three.js' %}"></script>

<script src="{% static 'drafter/js/threejs/PointerLockControls.js' %}"></script>
<script src="{% static 'drafter/js/threejs/Water.js' %}"></script>
<script src="{% static 'drafter/js/threejs/Sky.js' %}"></script>
<script src="{% static 'drafter/js/threejs/OBJLoader.js' %}"></script>

<script src="{% static 'drafter/js/threejs/Detector.js' %}"></script>
<script src="{% static 'drafter/js/stats.js' %}"></script>
<script src="{% static 'drafter/js/dat.gui.js' %}"></script>

<script src="{% static 'drafter/js/threejs/CopyShader.js' %}"></script>
<script src="{% static 'drafter/js/threejs/SSAOShader.js' %}"></script>

<script src="{% static 'drafter/js/engine/utils.js' %}"></script>
<Script src="{% static 'drafter/js/engine/materials.js' %}"></Script>
<Script src="{% static 'drafter/js/engine/environment.js' %}"></Script>
