

<script>
        // event listeners
        if (document.addEventListener) {
                document.addEventListener('webkitfullscreenchange', exitHandler, false);
                document.addEventListener('mozfullscreenchange', exitHandler, false);
                document.addEventListener('fullscreenchange', exitHandler, false);
                document.addEventListener('MSFullscreenChange', exitHandler, false);
        }
</script>

<div id="interactive">


        <div id="mapinfo">
                <div style="padding-bottom:10px;">
                        <span style="background:rgba(255, 255, 255, .8); font-size:10px;">
                                <a href="/drafter/{{client.id}}">{{client.name}}</a> >
                                <a href="/drafter/{{client.id}}/{{project.id}}">{{project.name}}</a> > {{map.name}}
                        </span>
                </div>

                <div style="padding-bottom:10px;">
                        <span style="font-size:35px;background:rgba(255, 255, 255, .8);" class="display-4">
                                map: {{map.name}}
                        </span>
                </div>
        </div>



        <div id="ui">

        <div id="mini-ui">
                <div>
                        <button onclick="goFullScreen();" type="button" style="margin-bottom:5px;" class="btn btn-success">Fullscreen</button>
                </div>

                <div style="display:flex;padding-bottom:5px;">
                        <div class="dropdown" style="margin-right:2px;">

                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Cameras (3)
                                </button>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                        {% for x in scene_cameras.cameras %}
                                        <a class="dropdown-item" href="#" onclick="cameraSelect('{{x}}')">{{x}}</a>
                                        {% endfor %}

                                </div>
                        </div>

                        <div>
                                <button class="btn btn-secondary" type="button" onclick="saveNewCamera()" id="saveViewBtn">Save View</button>
                        </div>

                        
                </div>

                <div>
                                <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Annotations (2)
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                </div>
                                        </div>

                </div>
        </div>


        <div id="env-ui">
     
                        <div id="env-ui-sun">











<p class="display-4;" style="font-size: 20px;">Sun</p>
Inclination<br>

                                        <input type="range"  min="-0.5" max='0.5' value="0.0" step="0.01" id="env-inclination">
                                        <script>
                                                        var updatedSunParams = {
                                                                distance: 400,
                                                                inclination: 0,
                                                                azimuth: 0.214
                                                        };
                
                                                      var inclinationSlider = document.getElementById("env-inclination");
                
                                                      inclinationSlider.oninput = function() {
                                                        updatedSunParams.inclination = this.value;
                                                        onSunChange(updatedSunParams);
                                                      }
                                                      </script>


                                      </div>
                                       
                               


                <br>
                        sun/time controls<br>
                        river/sea controls<br>
                        quality controls<br>
                        hero scheme controls<br>
                </div>


        <div id="fullscreen-ui">
                <div style="margin:20px;position:relative; z-index:5000;top:278px;">
                        <button onclick="exitFullScreen();" type="button" style="margin-bottom:5px;" class="btn btn-success btn-block">Exit</button>
                </div>

        </div>



</div>

        <div id="webgltarget"></div>

        <div id="blocker">
                <div id="instructions">
                        <span style="font-size:20px">Click to Activate.</span>
                        <br>
                        <small>W, A, S, D = Move. R, F = Up and Down. MOUSE = Look around
                </div>
        </div>


</div>
