#wrapper {position:relative; height:500px; width:100%;}
#overlay {
  background: url('/static/drafter/img/image_overlay.png') repeat scroll left top;
  opacity: 0.3;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
}
#interactive {
  width:100%;
  height:400px;
  display:flex;
}
#webgltarget {
  position: absolute;
  height:inherit;
}

#fullscreen-ui {
  display: none;
}
#mini-ui {
}

#blocker {
  position: absolute;
  z-index:1000;
  top: inherit;
  width: 100%;
  height: inherit;
  background-color: rgba(0,0,0,0.5);
}
#instructions {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}