{% extends "base.html" %}
{% block content %}

<small>
    {{client.name}} > <a href="/drafter/1/{{project.id}}">{{project.name}}</a> > {{geometry.obj_name}}
</small>

<h1>{{geometry.obj_name}}</h1>


<small>
        {{geometry}}
    
    </small>

<br>


<div id="wrapper">
        <div id="overlay"></div>
        <div style="background-position: center center; background-size: 100% auto; background-image: url(/static/drafter/img/{{geometry.image}});
        height: 100%; position: absolute; width: 100%; z-index: 1;">
        
    </div>
    
    </div>
    
    <div class="content">
    
    
    
    
    <div style="width:100%;" class="card">
        <div class="card-body">
    Comments
    <br>
    <br>
                <div style="margin:5px;" class="card">
                        <div class="card-body">
                    <img style="width: 50px; height: 50px;"src="/static/drafter/img/default_user_image.jpg">
                    
                        </div>
                      </div>
                    
                      <div style="margin:5px;" class="card">
                            <div class="card-body">
                        <img style="width: 50px; height: 50px;"src="/static/drafter/img/default_user_image.jpg">
                        
                            </div>
                          </div>
    
                          <div style="margin:5px;" class="card">
                                <div class="card-body">
                            <img style="width: 50px; height: 50px;"src="/static/drafter/img/default_user_image.jpg">
                            
                                </div>
                          </div>
    
                          <div style="margin:5px;" class="card">
                                <div class="card-body">
                            <img style="width: 50px; height: 50px;"src="/static/drafter/img/default_user_image.jpg">
                            
                                </div>
                              </div>
    
    
                    </div>
    
    
        </div>
      </div>



<hr>


{{project}}
<br><br>
{{client}}

{% endblock %}

