{% extends "base.html" %}
{% block content %}

<small>
    {{client.name}} > <a href="/drafter/1/{{project.id}}">{{project.name}}</a> > {{geometry.obj_name}}
</small>

<h1>{{geometry.obj_name}}</h1>


<small>
        {{geometry}}
    
    </small>

<br>


<div id="wrapper">
        <div id="overlay"></div>
        <div style="background-position: center center; background-size: 100% auto; background-image: url(/static/drafter/img/{{geometry.image}});
        height: 100%; position: absolute; width: 100%; z-index: 1;">
        
    </div>
    
    </div>
    
    <div class="content">


            <small style="color:gray;">FILTER: > <strong>latest</strong> > current camera</small>
    
    
        {% for x in 'ooooo' %}
    
        {% include 'comment_template.html' %}
    
    
    
    
    {% endfor %}
    
    
    
      </div>

<hr>


{{project}}
<br><br>
{{client}}

{% endblock %}

